/* COULEUR DE BACKGROUND */
body {
  background-color: rgb(50, 50, 50);

}

/* COULEUR DE TEXTE */

 h1, h2, h3, h4, p{
    color: rgb(255, 255, 255);
  }


/* MARGIN */
.big-container {
  margin: 1rem;
}


.header {
  display: flex;
  justify-content: space-between;
}

.menu-options {
  display: flex;
}

.image-background {
  width: 100%;
}
