@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');



/* COULEUR DE BACKGROUND */
body {
  background-color: rgb(50, 50, 50);
}


/* COULEUR DE TEXTE */

 h1, h2, h3, h4, p, a{
    color: rgb(255, 255, 255);
    font-family: 'Poppins'
  }

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

/* MARGIN */
.big-container {
  margin: 1rem;
}

.intro {
  padding: 3rem;
}

.header h1, h3{
  margin: 0rem;
}
.header {
  padding-bottom: 0.3rem;
}

.section-title {
  margin-bottom: 10rem;
}



.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 50, 50);
  position: sticky;
  top: 0;

}

.menu-options {
  display: flex;
  align-items: flex-end;
  width: 25rem;
  justify-content: space-between;
  /* ici */
}

.background {
  background-image: url("https://images.unsplash.com/photo-1497170675097-81fc06e915da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
  background-size: cover;
  background-position: center;
  height: 77vh;
}

.projects {
  display: flex;
  justify-content: space-between;
  /* height: 100vh; */
}

.project-content > .project-picture {
  width: 50vh;
  height: 50vh;
  object-fit: cover;
}

.vue {
  height: 100vh;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skills-text {
  justify-content: flex-end;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.project-title {
  text-align: center;
}

.skills-title, .skills-description {
  text-align: center;
}

.skills-section {
  height: 50vh;
  width: 50vh;
}
