
/* MON THEME DE COULEURS */
/*
BROWN #B6A495
ALMOND #E9D5BE
WHITE #FFFCF1
BLUE #2f495f
BLUE/GREEN #9FB8B0

RED #6D514D;
*/



/* COULEUR DE BACKGROUND */
body {
  background-color: #FFFCF1;
}


/* COULEURS DE PROJETS */

.project-brown {
  background-color: #B6A495;
}

.project-white {
  background-color: #FFFCF1;
}

.project-almond {
  background-color: #E9D5BE;
}

.project-green {
  background-color: #9FB8B0;
}
