

/* COULEUR DE BACKGROUND */
body {
  background-color: #FFFCF1;
}


/* COULEURS DE PROJETS */

.project-brown {
  background-color: #B2947B;
}

.project-white {
  background-color: #FFFCF1;
}

.project-almond {
  background-color: #EBCCAA;
}

.project-green {
  background-color: #86B8A8;
}



/* ANCIENNE COULEURS
BROWN #B6A495 ALMOND #EBCCAA WHITE #FFFCF1 BLUE #2f495f BLUE/GREEN #86B8A8 RED #6D514D;
*/
