
/* FONT FAMILY */

h1, h2, h3, h4, a, li, p {
  font-family: 'Poppins'
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  text-align: left;
}





/* SIZE */

.je-suis, .je-travail > h1 {
  font-size: 2.5rem;
}


/* FONT COLORS */

.project-brown>p,
.project-brown>h2 {
  color: #FFFCF1;
}



.project-white>p,
.project-white>h2 {
  color: #B6A495;
}


.project-almond>p,
.project-almond>h2 {
  color: #FFFCF1;
}


.project-green>p,
.project-green>h2 {
  color: #FFFCF1;
}



.je-suis h1 {
  color: #FFFCF1;
}

.navbar a {
  color: #FFFCF1;
}

.logo h1 {
  color: #FFFCF1;
}

.section-title h1 {
  color: #2f495f;
}

.projects h2 {
  color: #FFFCF1;
}

.story p {
  color: #2f495f;
}

.skills h4 {
  color: #FFFCF1;
}

.skills li {
  color: #2f495f;
}

/*  HOVER */
.navbar_container a :hover{
  color: hsl(212deg 34% 48%);
}

.navbar a:hover {
  color: hsl(212deg 34% 48%);
}

.page-footer a:hover {
  color: hsl(212deg 34% 48%);
}
