.page-footer {
  width: 100%;
  background-color: var(--main-color);
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-footer a {
  color: var(--seconday-color-light);
  font-weight: bold;
}

.page-footer a:hover {
  color: hsl(212deg 34% 48%);
}
