
.navbar_container {
  padding: 0 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* background-color: #6D514D; */
  /* box-shadow: 0 2px 4px 0 rgba(109, 81, 77, 0.2); */
  background-color: #2F495F;
  box-shadow: 0 2px 4px 0 rgba(47, 73, 95, 0.2);
  z-index: 99999;
}

.navbar {
 display: flex;
  align-items: center;
}


.navbar ul {
  display: table;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  display: table-cell;
  position: relative;
  padding: 5px;
  margin-left: 5rem;
}

.brand {
  display: flex;
  align-items: center;
}
