
.navbar_container {
  padding: 0 1rem;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #223347;
  box-shadow: 0 2px 4px 0 rgba(47, 73, 95, 0.2);
  z-index: 99999;
  width: auto;
}

.navbar {
 display: flex;
  align-items: center;
}


.navbar ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  display: table-cell;
  position: relative;
  padding: 0 2.5rem;

}

.brand {
  display: flex;
  align-items: center;
}


.navbar_container a :hover {
  color: hsl(212deg 34% 48%);
}

.navbar a:hover {
  color: hsl(212deg 34% 48%);
}
