
@import url('/assets/css/colors.css');
@import url('/assets/css/fonts.css');
@import url('/assets/css/projects.css');
/* @import url('/assets/css/navbar.css'); */
@import url('/assets/css/navbar.css');



/* GENERAL */
.big-container {
  margin: 0rem 1rem 0rem 1rem;
}
body {
  margin: 0;
}


/* VUE NUMERO 1 = HOME */

#HOME {
  scroll-margin-top: 10rem;
}

.background {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("/assets/img/moi.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("../img/moi.jpg");
  background-size: cover;
  background-position: bottom;
  height: 90vh;
}

.intro {
  padding: 3rem;
}


/* VUE NUMERO 2 = PROJECTS */

#PROJECTS {
  scroll-margin-top: 7rem;
  margin-top: 4rem;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-title {
  text-align: center;
}

.project {
  width: 75vw;
  height: 35vh;
  display: flex;
  margin: 3rem 0;
}

.project-title {
  height: 35vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem 0 0 0.3rem;
}
.project-title h2 {
  padding: 1rem;
}

.project-content {
  height: 35vh;
  width: 75%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0.3rem 0.3rem 0;
}

/* ---------------------SOUS PARTIE PROJET => MATEMATCH */
.matematch {
  background-color: #E9D5BE;
}
.project-matematch {
  background-image: url("/assets/img/miniature-matematch.png");
}

/* ---------------------SOUS PARTIE PROJET => RALLYE */

.rallye {
  background-color: #B6A495;
}
.project-rallye {
  background-image: linear-gradient(rgba(182, 164, 149, 0.30), rgba(182, 164, 149, 0.30)), url("/assets/img/miniature-rallye.png");
}


/* ---------------------SOUS PARTIE PROJET => COOP */

.coop {
  background-color: #9FB8B0;
}
.project-coop {
  background-image: linear-gradient(rgba(159, 184, 176, 0.30), rgba(159, 184, 176, 0.30)), url("/assets/img/miniature-coop.png");
}

/* VUE NUMERO 3 = ABOUT */

#ABOUT {
  scroll-margin-top: 4rem;
  margin-top: 5rem;
  height: 80vh;
}

.about-section{
  display: flex;
  justify-content: center;
}

.presentation {
  width: 70%;
  display: flex;
  align-items: center;
}

.story  {
  padding: 0 10rem;
  text-align: justify;
}

.skills {
  width: 30%;
}

.skills ul {
  padding-inline-start: 0;
}

.skills ul,
h4 {
  margin: 0;
  text-align: center;
}

.management {
  background-color: #9fb8b0;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin: 1.5rem;
}

.tech {
  background-color: #b6a495;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin: 1.5rem;
}

.design {
  border-radius: 0.3rem;
  background-color: #e9d5be;
  padding: 0.5rem 1rem;
  margin: 1.5rem;
}


/* FOOTER */

.page-footer {
  width: 100%;
  background-color: #2f495f;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-footer a {
  color: #FFFCF1;
  font-weight: bold;
}

.here {
  background-color: red;
  font-weight: bolder;
}
