/* Poppins sur tout le doc */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');



/* COULEUR DE TEXTE */

h1, h2, h3, h4, p, a, li {
  color: rgb(255, 255, 255);
  font-family: 'Poppins'
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


li {
  color: rgb(150, 150, 150);
  font-family: 'Poppins';
  list-style-type: none;
  margin-left: -0.5rem;
}
