/* Poppins sur tout le doc */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');



/* COULEUR DE TEXTE */

h1, h2, h3, h4, p, a, li {
  color: rgb(255, 255, 255);
  font-family: 'Poppins'
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.skills-description li {
  color: rgb(150, 150, 150);
  font-family: 'Poppins';
  list-style-type: none;
  margin-left: -0.5rem;
}

.skills-title li {
  font-family: 'Poppins';
  list-style-type: none;
  margin-left: -0.5rem;
}


/* SIZE */

/* Sur la home page, présentation */

.je-suis, .je-travail > h1 {
  font-size: 2.5rem;
}
