
@import url('/Styles/colors.css');
@import url('/Styles/fonts.css');
@import url('/Styles/projects.css');
@import url('/Styles/navbar.css');



/* MARGIN */
.big-container {
  margin: 0rem 1rem 0rem 1rem;
}

body {
  margin: 0;
}

.intro {
  padding: 3rem;
}



.menu-options {
  display: flex;
  align-items: flex-end;
  width: 25rem;
  justify-content: space-between;
  /* ici */
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("/Photos/moi.jpg");
  background-size: cover;
  background-position: bottom;
  height: 90vh;
}


.footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.project-title {
  text-align: center;
}


#HOME {
  scroll-margin-top: 10rem;
}

#PROJECTS {
  scroll-margin-top: 7rem;
  margin-top: 4rem;
}

#ABOUT {
  scroll-margin-top: 4rem;
  margin-top: 5rem;
}

.me-description {
  display: flex;
  width: 70%;
  text-align: justify;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-section-contents {
  display: flex;
  text-align: justify;
  justify-content: center;
}

.portfolio-section-dual-content {
  width: 50%;
  display: flex;
}

.about {
  justify-content: center;
  align-items: flex-start;
  padding: 0 5rem;
}

.contact-photo img{
 max-height: 70vh;
}


.test-project {
  width: 75vw;
  height: 35vh;
  display: flex;
  margin: 3rem 0;
}

.test-project-title {
  height: 35vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem 0 0 0.3rem;
}

.matematch {
  background-color: #E9D5BE;
}

.rallye {
  background-color: #B6A495;
}

.coop {
  background-color: #9FB8B0;
}

.test-project-title h2 {
 padding: 1rem;
}

.test-project-content{
  height: 35vh;
  width: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0.3rem 0.3rem 0;
}

.project-matematch {
  background-image: url("/Photos/matematch-mockup.png");
}

.project-rallye {
  background-image: url("/Photos/matematch-mockup.png");
}

.project-coop {
  background-image: url("/Photos/matematch-mockup.png");
}

.about-section{
  display: flex;
  justify-content: center;
}

.presentation {
  width: 70%;
  display: flex;
  align-items: center;
}

.story  {
  padding: 0 10rem;
  text-align: justify;
}


.skills {
  width: 30%;
  padding: 1rem;
}

.skills li {
  list-style-type: none;
  text-align: left;
}

.skills ul {
  margin: 0;
}

.management {
  background-color: #9fb8b0;
  border-radius: 0.3rem;

}

.tech {
  background-color: #b6a495;
  border-radius: 0.3rem;
  height: 22vh;
}

.design {
  border-radius: 0.3rem;
  background-color: #e9d5be;
  height: 20vh;
}


.page-footer {
  width: 100%;
  background-color: #2f495f;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-footer a {
  color: #FFFCF1;
  font-weight: bold;
}
