
@import url('/Styles/colors.css');
@import url('/Styles/fonts.css');
@import url('/Styles/projects.css');
@import url('/Styles/navbar.css');



/* MARGIN */
.big-container {
  margin: 0rem 1rem 0rem 1rem;
}

body {
  margin: 0;
}

.intro {
  padding: 3rem;
}



.menu-options {
  display: flex;
  align-items: flex-end;
  width: 25rem;
  justify-content: space-between;
  /* ici */
}

.background {
  background-image: url("https://images.unsplash.com/photo-1497170675097-81fc06e915da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
  background-size: cover;
  background-position: center;
  height: 85vh;
}


.vue {
  height: 100vh;
}


.footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.project-title {
  text-align: center;
}


#HOME {
  scroll-margin-top: 10rem;
}

#PROJECTS {
  scroll-margin-top: 7rem;
}

#ABOUT {
  scroll-margin-top: -10rem;
}

.me-description {
  display: flex;
  width: 70%;
  text-align: justify;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-section-contents {
  display: flex;
  text-align: justify;
  justify-content: center;
}

.portfolio-section-dual-content {
  width: 50%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
