
@import url('/Styles/colors.css');
@import url('/Styles/fonts.css');
@import url('/Styles/projects.css');
@import url('/Styles/navbar.css');



/* MARGIN */
.big-container {
  margin: 0rem 1rem 0rem 1rem;
}

body {
  margin: 0;
}

.intro {
  padding: 3rem;
}



.menu-options {
  display: flex;
  align-items: flex-end;
  width: 25rem;
  justify-content: space-between;
  /* ici */
}

.background {
  background-image: url("/Photos/moi.jpg");
  background-size: cover;
  background-position: bottom;
  height: 85vh;
}


.vue {
  /* Cette partie sera a dégager ou modifier */
  height: 100vh;
  /* height: calc(100vh - 6rem); */
}


.footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.project-title {
  text-align: center;
}


#HOME {
  scroll-margin-top: 10rem;
}

#PROJECTS {
  scroll-margin-top: 7rem;
}

#ABOUT {
  scroll-margin-top: -10rem;
}

#CONTACT {
  scroll-margin-top: 7rem;
}

.me-description {
  display: flex;
  width: 70%;
  text-align: justify;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-section-contents {
  display: flex;
  text-align: justify;
  justify-content: center;
}

.portfolio-section-dual-content {
  width: 50%;
  display: flex;
}

.about {
  justify-content: center;
  align-items: flex-start;
  padding: 0 5rem;
}

.skills {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contact-photo img{
 max-height: 70vh;
}


.test-project {
  width: 90vw;
  height: 25vh;
  display: flex;
  margin: 2rem 0;
}

.test-project-title {
  height: 30vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem 0 0 0.3rem;
}

.matematch {
  background-color: #E9D5BE;
}

.rallye {
  background-color: #B6A495;
}

.coop {
  background-color: #9FB8B0;
}

.test-project-title h2 {
 padding: 1rem;
}

.test-project-content{
  height: 30vh;
  width: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0.3rem 0.3rem 0;
}

.project-matematch {
  background-image: url("/Photos/matematch-mockup.png");
}

.project-rallye {
  background-image: url("/Photos/matematch-mockup.png");
}

.project-coop {
  background-image: url("/Photos/matematch-mockup.png");
}
