/* MATEMATCH */
.design > img {
  height: 40vh;
}


.project{
transition: transform .2s;
}
.project:hover {
  transform: scale(1.05);
}


.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}




.project-content>.project-picture {
  width: 30vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 0.3rem;
}

.project-page-title > h1 {
  text-align: center;
  margin: 0;
}

.project-page-title > p {
  text-align: justify;
  margin: 2rem 20rem;
}

.background-projects {
  background-size: cover;
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-matematch {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("/Photos/matematch-background.avif");
  background-position: bottom;
}

.background-rallye {
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("/Photos/rallye-background.avif");
  background-position: center;
}

.background-coop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/Photos/400coop-background.avif");
  background-position: bottom;
}

.project-section-contents {
  display: flex;
  text-align: justify;
  justify-content: center;
}

.project-section-dual-content {
  width: 50%;
  height:35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-section-dual-content > p {
  padding: 0 8rem;
}

.project-section-dual-content>img {
  max-width: 95%;
  max-height: 95%;
}

.project-section-mono-content{
  height:25rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-section-mono-content > p,
.project-section-mono-content > h2{
  width: 60%;
  text-align: center;
}

.matematch-brown {
  background-color: #E3A96D;
}

.matematch-white {
  background-color: #FDF7F1;
}

.matematch-green {
  background-color: #638475;
}

.matematch-white > p,
.matematch-white > h2 {
  color: #E3A96D;
}

.matematch-brown > p,
.matematch-brown > h2{
  color: #FDF7F1;
}

.matematch-green > p,
.matematch-green > h2{
  color: #FDF7F1;
}

.rallye-green {
  background-color: #3B5B4C;
}

.rallye-green > p,
.rallye-green > h2 {
  color: #F4F3EE;
}

.rallye-white {
  background-color: #FFEFD8;
}

.rallye-white > p,
.rallye-white > h2 {
  color: #3B5B4C;
}

.rallye-grey {
  background-color: rgb(50, 50, 50);
}

.rallye-grey > p,
.rallye-grey > h2 {
  color: #F4F3EE;
}

.coop-green {
  background-color: #6b705c
}

.coop-green > p,
.coop-green > h2 {
  color: #F4F3EE;
}

.coop-white {
  background-color: #ffe8d6;
}

.coop-white > p,
.coop-white > h2 {
  color: #6b705c;
}

.coop-brown {
  background-color: #cb997e;
}

.coop-brown > p,
.coop-brown > h2 {
  color: #F4F3EE;
}
