/* MATEMATCH */
.design > img {
  height: 40vh;
}


.project{
transition: transform .2s;
}
.project:hover {
  transform: scale(1.05);
}


.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}




.project-content>.project-picture {
  width: 30vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 0.3rem;
}

.project-page-title > h1 {
  text-align: center;
  margin: 0;
  color: #FFFCF1;
}

.project-page-title > p {
  text-align: justify;
  margin: 2rem 20rem;
  color: #FFFCF1;
}

.background-projects {
  background-size: cover;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-matematch {
  background-color: #E9D5BE;
}

.background-rallye {
  background-color: #B6A495;
}

.background-coop {
  background-color: #9FB8B0;
}

.project-section-contents {
  display: flex;
  text-align: justify;
  justify-content: center;
}

.project-section-dual-content {
  width: 50%;
  height:40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-section-dual-content > p {
  padding: 0 8rem;
}

.project-section-dual-content>img {
  max-width: 95%;
  max-height: 95%;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.project-section-mono-content{
  height:25rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-section-mono-content > p,
.project-section-mono-content > h2{
  width: 60%;
  text-align: center;
}

.project-brown {
  background-color: #B6A495;
}
.project-brown > p,
.project-brown > h2{
  color: #FFFCF1;
}


.project-white {
  background-color: #FFFCF1;
}
.project-white > p,
.project-white > h2 {
  color: #B6A495;
}

.project-almond {
  background-color: #E9D5BE;
}
.project-almond>p,
.project-almond>h2 {
  color: #FFFCF1;
}


.project-green {
  background-color: #9FB8B0;
}
.project-green > p,
.project-green > h2{
  color: #FFFCF1;
}
